:root {
  --color-white: white;
  --color-green: green;
  --color-primary: #A0F2B4;
  --color-khaiki: rgb(27, 116, 53);
  
  --base-size: 1.2rem ;
  --scale: 1.2;
  --h1: calc(var(--h2)*var(--scale));
  --h2: calc(var(--h3)*var(--scale));
  --h3: calc(var(--base-size)*var(--scale));
}

html {
  box-sizing: border-box;
  /*background: linear-gradient(to bottom, var(--color-white),var(--color-primary));*/
  background-image: url("../img/kseniya-lapteva-vopD-CchWbk-unsplash.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
