:root {
  --color-white: white;
  --color-green: green;
  --color-primary: #A0F2B4;
  --color-khaiki: rgb(27, 116, 53);
  
  --base-size: 1.2rem ;
  --scale: 1.25;
  --h5-size: var(--base-size * --scale);
  --h4-size: var(--h5-size * --scale);
  --h3-size: var(--h4-size * --scale);
  --h2-size: var(--h3-size * --scale);
  --h1-size: var(--h2-size * --scale);
  --lg-size: var(--h1-size) * var(--scale);
}

html {
  box-sizing: border-box;
  background: linear-gradient(to bottom, var(--color-white),var(--color-primary));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0px;
}
